[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
woocommerce = "*"
djangorestframework = "*"
django-admin-json-editor = "*"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.9"
